@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Primary color*/
  --pink-color: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);

  /* Neutral color*/
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
}

a {
  text-decoration: none;
}

/*Header*/
.container-header {
  padding: 1.6em;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Poppins", sans-serif;
}

.img-logo {
  width: 24px;
}

.header-title {
  display: inline-block;
  font-weight: 700;
}

.btn-free {
  display: flex;
  min-width: 120px;
  border-radius: 16px;
  color: var(--light-pink);
  background-color: white;
  border: 1px solid var(--light-pink);
  align-items: center;
  justify-content: center;
}
